<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncs.MusicMapper">

<!-- ******************************* -->
<select id="selectList" resultType="vo.MusicVO">
	 select * from music order by releasedate desc , sname
</select>

<select id="selectOne" resultType="vo.MusicVO"> <!-- 노래 재생목록을 위한 sql  -->
	  select snum, sname, stitle, singername, releasedate, genre, 
      replace(lyrics,'-','') lyrics, country, musicurl, 
      downloadfile, image, count from music where snum=#{snum}
</select>

<update id="musicCount"> <!-- count를 위한 sql -->
	UPDATE music set count=#{count} WHERE snum=#{snum}
</update>

<!-- 검색 및 페이징 부분 -->
<sql id="search">
  <if test="keyword != null">
  	<bind name="keyVal" value="'%'+keyword+'%'"/>
  </if>	
   <choose>
  	<when test="searchType=='snm'.toString()">
  		and upper(sname) Like upper(#{keyVal}))
  		<!-- and title Like  CONCAT('%',CONCAT(#{keyword},'%')) -->
  	</when>
  	<when test="searchType=='sgr'.toString()">
  		and upper(singername) Like upper(#{keyVal}))
  	</when>
  	
  	<when test="searchType=='tt'.toString()">
  		and upper(stitle) Like upper(#{keyVal}))
  	</when>
  	
  	  	<when test="searchType=='ly'.toString()">
  		and upper(lyrics) Like upper(#{keyVal}))
  	</when>
  	
  	<when test="searchType=='gne'.toString()">
  		and genre Like #{keyVal} )
  	</when>
  	
  	  	<when test="searchType=='snm/sgr'.toString()">
  		and upper(sname) Like '%' || upper(#{keyword}) || '%' 
  		or  upper(singername) Like '%' || upper(#{keyword}) || '%')
  		</when>
  	
  	<when test="searchType=='snm/sgr/tt/ly/gne'.toString()">   
  		and upper(sname) Like  '%' || upper(#{keyword}) || '%' 
  		or upper(singername) Like  '%' || upper(#{keyword}) || '%' 
  		or upper(stitle) Like  '%' || upper(#{keyword}) || '%' 
  		or lyrics Like  '%' || #{keyword} || '%' 
  		or  genre Like  '%' || #{keyword} || '%')
  	</when>
  	
  	<otherwise>)</otherwise> 
  </choose>
  
</sql>

<select id="searchRowCount" resultType="int">
<![CDATA[ 	
	select count(*) from music where ( snum > 0 ]]>
	<!-- 조건 id : search -->
	<include refid="search"></include>
</select>

 <select id="searchMList" resultType="vo.MusicVO">
 <![CDATA[
 select snum,image,sname,singername,stitle,downloadfile,genre,rnum from
 (select m.* , ROW_NUMBER() OVER(order by snum desc) rnum from music m 
   where snum > 0 ]]>
  <include refid="search"></include>
  where rnum between #{sno} and #{eno}
</select>
 
<!-- PageList -->
<select id="totalRowCount" resultType="int">
	select count(*) from snum 
</select> 

<select id="pageList" resultType="vo.MusicVO"> 
<if test="keyword == null">
  select snum,image,sname,singername,stitle,downloadfile,genre,rnum  
  from music where rnum between #{sno} and #{eno}  <!-- //원래 이문장만 있었음 -->
</if>
<!-- 실험 page list 가 과연 다르게 나오는지 -->
<choose>
  	<when test="searchType=='snm'.toString()">
  		 select sname,rnum  
 		 from music where rnum between #{sno} and #{eno}
  	</when>
  	
  	<when test="searchType=='sgr'.toString()">
  		select singername,rnum  
 		 from music where rnum between #{sno} and #{eno}
  	</when>
  	
  	  	<when test="searchType=='ly'.toString()">
  		select lyrics,rnum  
 		 from music where rnum between #{sno} and #{eno}
  	</when>
  	
  	<when test="searchType=='gne'.toString()">
  		select genre,rnum  
 		 from music where rnum between #{sno} and #{eno}
  	</when>
  	
  	<otherwise>)</otherwise> 
  </choose>


</select>

</mapper>  